[Unit]
Description=BLE/MQTT Tracker
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/osmc/btracker
ExecStart=/usr/bin/python3 /home/osmc/btracker/tracker.py --monitor
Restart=always

[Install]
WantedBy=multi-user.target
